<form name="form" class="form-horizontal" (ngSubmit)="save()" [formGroup]="alumnoCursoForm">
  <div class="box">
    <div class="form-row">
      <h4 class="box-title">Acciones</h4>
    </div>
    <p-toolbar>
      <div class="ui-toolbar-group-left">
        <button type="button" class="btn  btn-default has-icon" (click)="goBack()">
          <i class="fa fa-arrow-left"></i>
          Volver
        </button>
        <button type="submit" class="btn  btn-primary has-icon" [disabled]="alumnoCursoForm.pristine || alumnoCursoForm.invalid">
          <i class="fa fa-check"></i>
          Guardar
        </button>
      </div>
      <div class="ui-toolbar-group-right">
        <button type="button" class="btn  btn-danger has-icon" (click)="delete()" *ngIf="model.idAlumnoCurso">
          <i class="fa fa-trash"></i>
          Eliminar
        </button>
      </div>
    </p-toolbar>
    <div class="form-row">
      <div class="col-md-12">
        <div *ngIf="alumnoCursoForm.dirty && alumnoCursoForm.invalid" class="alert alert-danger" role="alert">Existen errores de validación</div>
      </div>
    </div>
  </div>

  <div class="box">
    <fieldset>
      <div>
      </div>
    </fieldset>
  </div>
</form>
