<form name="form" class="form-horizontal" (ngSubmit)="save()" [formGroup]="cursoForm">
  <div class="box">
    <div class="form-row">
      <h4 class="box-title">Acciones</h4>
    </div>
    <p-toolbar>
      <div class="ui-toolbar-group-left">
        <button type="button" class="btn  btn-default has-icon" (click)="goBack()">
          <i class="fa fa-arrow-left"></i>
          Volver
        </button>
        <button type="submit" class="btn  btn-primary has-icon" [disabled]="cursoForm.pristine || cursoForm.invalid">
          <i class="fa fa-check"></i>
          Guardar
        </button>
      </div>
      <div class="ui-toolbar-group-right">
        <button type="button" class="btn  btn-danger has-icon" (click)="delete()" *ngIf="model.idCurso">
          <i class="fa fa-trash"></i>
          Eliminar
        </button>
      </div>
    </p-toolbar>
    <div class="form-row">
      <div class="col-md-12">
        <div *ngIf="cursoForm.dirty && cursoForm.invalid" class="alert alert-danger" role="alert">Existen errores de validación</div>
      </div>
    </div>
  </div>

  <div class="box">
    <div class="row">
      <div class="col-12">
        <p-tabView (onChange)="handleTabChange($event)">
          <p-tabPanel header="Detalles" [selected]="currentTab === 0">
            <fieldset>
              <div class="form-row">
                <div class="col-md-6">
                  <div class="form-group" [ngClass]="{'was-validated': cursoForm.controls.nombre.invalid}">
                    <label for="nombre" class="col-md-3">Nombre</label>
                    <div class="col-md-9">
                      <input type="text" class="form-control" id="nombre" formControlName="nombre" required>
                      <div *ngIf="formErrors.nombre.length" class="alert alert-danger">
                        <span class="clearfix" *ngFor="let error of formErrors.nombre"><i
                            class="fa fa-times-circle"></i> {{ error }}</span>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group" [ngClass]="{'was-validated': cursoForm.controls.fechaInicio.invalid}">
                    <label for="fechaInicio" class="col-md-3">Fecha inicio</label>
                    <div class="col-md-3">
                      <p-calendar [locale]="calendarLocale.es" dateFormat="dd/mm/yy" inputStyleClass="form-control"
                        id="fechaInicio" formControlName="fechaInicio"></p-calendar>
                      <div *ngIf="formErrors.fechaInicio.length" class="alert alert-danger">
                        <span class="clearfix" *ngFor="let error of formErrors.fechaInicio"><i
                            class="fa fa-times-circle"></i> {{ error }}</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-row">
                <div class="col-md-6">
                  <div class="form-group" [ngClass]="{'was-validated': cursoForm.controls.fechaFin.invalid}">
                    <label for="fechaFin" class="col-md-3">Fecha fin</label>
                    <div class="col-md-3">
                      <p-calendar [locale]="calendarLocale.es" dateFormat="dd/mm/yy" inputStyleClass="form-control"
                        id="fechaFin" formControlName="fechaFin"></p-calendar>
                      <div *ngIf="formErrors.fechaFin.length" class="alert alert-danger">
                        <span class="clearfix" *ngFor="let error of formErrors.fechaFin"><i
                            class="fa fa-times-circle"></i> {{ error }}</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </fieldset>
          </p-tabPanel>
          <p-tabPanel *ngIf="model.idCurso" header="Alumnos" [selected]="currentTab === 1">
            <app-alumno-table #unlinkedAlumnos [tiposDocumento]="tiposDocumento" [expandFilters]="false"
              [clickAction]="goToDetailAlumno" [primaryButtonAction]="linkAlumno" primaryButtonText="Vincular"
              primaryButtonClass="plus" [fixedFilters]="unlinkedAlumnosFilters" [rememberFilters]="false"
              title="No vinculados"></app-alumno-table>
            <app-alumno-table #linkedAlumnos [tiposDocumento]="tiposDocumento" [expandFilters]="false" [add]="addAlumno"
              [clickAction]="goToDetailAlumno" [primaryButtonAction]="unlinkAlumno" primaryButtonText="Desvincular"
              primaryButtonClass="minus" [fixedFilters]="linkedAlumnosFilters" [rememberFilters]="false"
              title="Vinculados"></app-alumno-table>
          </p-tabPanel>
        </p-tabView>
      </div>
    </div>
  </div>
</form>